//include mixing to convert hexToRGB
@import "common/mixing.scss";
@function hexToRGB($color) {
  @return red($color), green($color), blue($color);
}
//main theme colors
$theme-color1: #9F7D50;
$theme-color2: #0a192f;

//text colors when theme color bg
$theme-color1-text-color: #fff;
$theme-color2-text-color: #fff;

:root {
  //main theme colors
  --theme-color1: #{$theme-color1};
  --theme-color2: #{$theme-color2};

  //rgb version of those theme colors
  --theme-color1-rgb: #{hexToRGB($theme-color1)};
  --theme-color2-rgb: #{hexToRGB($theme-color2)};

  //text colors when theme color bg
  --theme-color1-text-color: #{$theme-color1-text-color};
  --theme-color2-text-color: #{$theme-color2-text-color};

  --body-bg: #FAF5EF;
}

.galler-section {  
  &.royal-style {
    .gallery-box-home6 {
      .inner-box .gallery-tag {
        background-color: var(--theme-color1);
      }
    }
    .sec-title {
      .title {
        font-size: 120px;
        @media (max-width: 991.98px) {
          font-size: 40px;
        }
      }
    }
  }
}

.faqs-section-royal .img-box-heading {
  border-bottom: 1px solid #1818201A;
  margin-bottom: 40px;
  padding-bottom: 25px;
}

.faqs-section-royal {
  .image-column {
    .inner-column {
      margin-right: 95px;      
      @media (max-width: 1599.98px) {
        margin-right: 0;
      }
    }
  }
}
.accordion-box.home7-style .block {
  margin-bottom: 24px;
}
.accordion-box.home7-style .block .acc-btn {
  text-transform: uppercase;
}
.blog-post-royal .inner-block .content-box .title {
  font-size: 34px;
  @media (max-width: 1599.98px) {
    font-size: 24px;
  }
}
.blog-post-royal .inner-block .content-box {
  padding: 50px 40px 46px;
  @media (max-width: 1399.98px) {
    padding: 50px 15px 46px;
  }
}

.main-footer-island.style-three {
  .footer-widget.info-widget {
    @media (max-width: 767.98px) {
      margin-left: 15px;
    }
  }
}
