@import url("https://fonts.googleapis.com/css2?family=Lustria&display=swap");
@import "common/mixing.scss";
//include mixing to convert hexToRGB
@function hexToRGB($color) {
	@return red($color), green($color), blue($color);
}
//main theme colors
$theme-color1: #fdf567;
$theme-color2: #0a192f;

//text colors when theme color bg
$theme-color1-text-color: #181820;
$theme-color2-text-color: #fff;

:root {
	//main theme colors
	--theme-color1: #{$theme-color1};
	--theme-color2: #{$theme-color2};

	//rgb version of those theme colors
	--theme-color1-rgb: #{hexToRGB($theme-color1)};
	--theme-color2-rgb: #{hexToRGB($theme-color2)};

	//text colors when theme color bg
	--theme-color1-text-color: #{$theme-color1-text-color};
	--theme-color2-text-color: #{$theme-color2-text-color};

	//other colors
	--theme-color-white: #ffffff;
	--theme-color-gray: #f1f1f2;
	--theme-color-black: #000000;

	//font family
	--heading-font-family: "Lustria", serif;

	//body
	--body-font-size: 18px;
	--body-line-height: 1.611;
	--body-font-weight: 400;

	--h1-font-size: 72px;
	--h2-font-size: 64px;
	--h3-font-size: 36px;
	--h4-font-size: 24px;
	--h5-font-size: 22px;
	--h6-font-size: 20px;

	//container
	--container-width: 1744px;
	--large-container-width: 1760px;
}

@media (min-width: 1400px) {
	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl,
	.container-xxl {
		max-width: var(--container-width);
	}
}
.header-style-golf .nice-select {
	margin-bottom: 0;
}
.header-style-golf .nice-select {
  margin-bottom: 0;
  line-height: 41px;
  padding: 0 19px 0;
  &:before {
  	top: 0;
    font-size: 12px;    
  	color: var(--theme-color-white);
  }
  .current {
  	color: var(--theme-color-white);
  }
  .list {
  	color: var(--theme-color-black);
  }
}

.back-to-top-btn svg {
	color: var(--theme-color-black);
}
.header-style-golf .sticky-header .mobile-nav-toggler {
	color: var(--theme-color-black);
}