/* Resort Layout HTML Template

**********************************************/
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --theme-color1: #966650;
  --theme-color-rgb: 150, 102, 80;
  --text-color: rgba(18, 18, 18, 0.7);
  --headings-color: #020214;
  --theme-color-dark: #121212;
  --theme-color-dark2: #050505;
  --theme-color-gray: #eaede4;
  --heading-font-family: "MangoGrotesque", sans-serif;
  --body-font-family: "Jost", sans-serif;
  --body-font-size: 18px;
  --body-line-height: 28px;
  --body-font-weight: 400;
  --h1-font-size: 200px;
  --h2-font-size: 140px;
  --h3-font-size: 50px;
  --h4-font-size: 24px;
  --h5-font-size: 18px;
  --h6-font-size: 16px;
  --line-height-heading-h1: 180px;
  --line-height-heading-h2: 1;
  --line-height-heading-h3: 0.88;
  --line-height-heading-h4: 36px;
  --line-height-heading-h5: 32px;
  --line-height-heading-h6: 28px;
  --h1-font-weight: 500;
  --h2-font-weight: 500;
  --h3-font-weight: 500;
  --h4-font-weight: 500;
  --h5-font-weight: 500;
  --h6-font-weight: 500;
  --container-width: 1744px;
  --small-container-width: 1000px;
  --large-container-width: 1760px;
}

@font-face {
  font-display: swap;
  font-family: "MangoGrotesque";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/MangoGrotesque/MangoGrotesque-Regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "MangoGrotesque";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/MangoGrotesque/MangoGrotesque-Medium.woff2") format("woff2");
}
/*
 * container.scss
 * -----------------------------------------------
*/
body {
  font-family: var(--body-font-family);
}

.container .container {
  width: 100%;
}

.container .container,
.container .container-fluid,
.container-fluid .container,
.container-fluid .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

section > .container,
section > .container-fluid {
  padding-top: var(--container-pt);
  padding-bottom: var(--container-pt);
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: var(--container-width);
  }
}
.header-menu {
  background-color: rgba(var(--theme-color-white-rgb), 0.08);
}

.main-menu .navigation > li > a,
.main-menu .navigation > li > ul > li > a {
  font-family: var(--body-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}

.color1 {
  color: var(--theme-color1);
}